* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-heading: #000;
  --text-paragraph1: #475467;
  --text-paragraph2: #6b7280;
  --background-nav: #fff;
  --background-main: #fafaf8;
  --button-text: #fafaf8;
  --area-bg-color: #f0efeb;
  --button-bg-primary: #141413;
  --button-bg-secondary: #d17557;
}

[data-theme="dark"] {
  --text-heading: #fff;
  --text-paragraph1: #a9b3c1;
  --text-paragraph2: #c0c6cf;
  --background-nav: #1a1a1a;
  --background-main: #2c2c2a;
  --button-text: #fafaf8;
  --area-bg-color: #3a3a36;
  --button-bg-primary: #111;
  --button-bg-secondary: #ff967a;
}

body {
  margin: 0;
  font-family: "Montserrat", serif;
  /* font-family: Inter, sans-serif; */
  background-color: var(--background-main);
  transition: all ease-in-out 0.4s;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: var(--text-heading);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  font-family: "Pacifico", serif;
  background-color: var(--background-nav);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  transition: all ease-in-out 0.4s;
}

.fontPacifico {
  font-family: "Pacifico", serif;
}

.flex1 {
  flex: 1;
}

header > .hDiv1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

header > .hDiv1 > img {
  width: 40px;
  border-radius: 10px;
}

header > h1 {
  font-weight: 400;
}

.moonTrans {
  transition: all ease-in-out 0.4s;
}

main {
  padding: 30px 30px 10px;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 38px;
  margin-top: 30px;
}

.add-ingredient-form > input {
  border-radius: 6px;
  border: 1px solid #d1d5db;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.add-ingredient-form > button {
  font-family: Inter, sans-serif;
  border-radius: 6px;
  border: none;
  background-color: var(--button-bg-primary);
  color: var(--button-text);
  width: 150px;
  font-size: 0.875rem;
  font-weight: 500;
}

.add-ingredient-form > button::before {
  content: "+";
  margin-right: 5px;
}

ul.ingredients-list {
  margin-bottom: 48px;
}

ul.ingredients-list > li {
  color: var(--text-paragraph1);
  line-height: 28px;
}

.get-recipe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: var(--area-bg-color);
  padding: 10px 16px;
  transition: all ease-in-out 0.4s;
}

.get-recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
}

.get-recipe-container p {
  color: var(--text-paragraph2);
  /* font-size: 0.75rem; */
  line-height: 20px;
}

.get-recipe-container button {
  border: none;
  border-radius: 6px;
  background: var(--button-bg-secondary);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: var(--button-text);
  padding: 9px 17px;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
}

.suggested-recipe-container {
  color: var(--text-paragraph1);
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
}

.suggested-recipe-container ul li,
.suggested-recipe-container ol li {
  margin-bottom: 8px;
}
